/* clearfix start */
body{
	margin: 0;
}
#content, body, html{
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
/* clearfix end */
.invisible{
	width: 0;
	height: 0;
	left: -100vw;
	top: -100vh;
}
.debug{
	left:auto;
	top: auto;
	bottom: auto;
	right: auto;
	width: auto;
	height: auto;

	position: absolute;
	z-index: 999;
}
#enter-btn{
	position: absolute;
	bottom: 2vw;
	left: 50%;
	transform: translateX(-50%);
	transform: rotate(45deg);
	z-index: 99;
	border: solid rgba(255, 255, 255, 0.5);
	border-width: 0 5px 5px 0 ;
	width: 6vw;
	height: 6vw;
	user-select: none;
}
#cb-enter:checked ~ #enter-btn{
	animation: fadein-opacity 1s reverse forwards;
}

.panel{
	width: 100vw;
	height: 100vh;
	background-color: black;
}

#welcome{
	background-image:	url("../images/ball_cts.png");
	background-position: center;
	background-size: cover;
}
#welcome-text{
	position: relative;
	left:8%;
	top:50%;
	transform: translateY(-50%);
	width: 35%;
	color: white;
	font: 6vw sans-serif;
	opacity: 0;
}

#cb-enter:checked ~ #content > #welcome > #welcome-text{
	animation: fadein-opacity 2s forwards;
}
#cb-enter:checked ~ #navigation{
	animation: fadein-grow 2s forwards;
}
#navigation{
	width:0;
	height: 30px;
	line-height: 30px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	background-color: blueviolet;
	z-index: 99;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	user-select: none;
}